amqp==2.6.1
asgiref==3.3.1
billiard==3.6.3.0
celery==4.4.7
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cryptography==3.4.7
defusedxml==0.7.1
Django==3.1.4
django-crispy-forms==1.10.0
django-rename-app==0.1.2
flower==0.9.7
gunicorn==20.1.0
humanize==3.2.0
idna==2.10
kombu==4.6.11
mysqlclient==2.0.3
oauthlib==3.1.0
Pillow==8.0.1
prometheus-client==0.8.0
prompt-toolkit==3.0.10
pycparser==2.20
PyJWT==2.0.1
python3-openid==3.2.0
pytz==2020.4
requests==2.25.1
requests-oauthlib==1.3.0
six==1.15.0
social-auth-app-django==3.1.0
social-auth-core==4.1.0
sqlparse==0.4.1
stripe==2.55.1
tornado==6.1
urllib3==1.26.2
vine==1.3.0
wcwidth==0.2.5
whitenoise==5.2.0
